- var active = 1
- var pageName = 'Mazda AXELA 2011'
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
  body.full-width
    .page-wrap
      include includes/top-bar
      include includes/header
      include includes/navigation
      main
        .container.content
          section.main
            aside
              .sidebar
                h1 Авто из Японии
                nav
                  ul
                    li: a(href="#") Аукционы Японии ON-LINE!
                    li: a(href="#") Аукционы OnePrice
                    li: a(href="#") Спецпредложения
                    li: a(href="#") Статистика японских аукционов
                    li: a(href="#") Калькулятор (полная пошлина)
                    li: a(href="#") Аварийные авто
                    li: a(href="#") Инструкция по аукционам
                    li: a(href="#") Цены на оформление ПТС
                    li: a(href="#") Схема работы "Полная пошлина"
                    li: a(href="#") Схема работы "Конструктор"
                    li: a(href="#") Определение даты выпуска
                    li: a(href="#") Каталог авто
              .sidebar
                h1 Автомобили из США
                nav
                  ul
                    li: a(href="#") Аукционы Японии ON-LINE!
                    li: a(href="#") Аукционы OnePrice
                    li: a(href="#") Спецпредложения
                    li: a(href="#") Статистика японских аукционов
                    li: a(href="#") Калькулятор (полная пошлина)
                    li: a(href="#") Аварийные авто
                    li: a(href="#") Инструкция по аукционам
                    li: a(href="#") Цены на оформление ПТС
                    li: a(href="#") Схема работы "Полная пошлина"
                    li: a(href="#") Схема работы "Конструктор"
                    li: a(href="#") Определение даты выпуска
                    li: a(href="#") Каталог авто
            .content-right
              h1.colored.black Mazda AXELA 2011
              .breadcrumbs
                ul
                  li: a(href="#") Главная
                  li: a(href="#") Автомобили со всего мира
                  li: a(href="#") Mazda AXELA 2011
              .item
                .item__images
                  a.item__image--big(href="i/placeholders/axela/1.jpg", data-lightbox="gallery"): img(src="i/placeholders/axela/1.jpg")
                  a.item__image--small(href="i/placeholders/axela/2.jpg", data-lightbox="gallery"): img(src="i/placeholders/axela/2.jpg")
                  a.item__image--small(href="i/placeholders/axela/3.jpg", data-lightbox="gallery"): img(src="i/placeholders/axela/3.jpg")
                  a.item__image--small(href="i/placeholders/axela/4.jpg", data-lightbox="gallery"): img(src="i/placeholders/axela/4.jpg")
                  a.item__image--small(href="i/placeholders/axela/5.jpg", data-lightbox="gallery"): img(src="i/placeholders/axela/5.jpg")
                  a.item__image--small(href="i/placeholders/axela/1.jpg", data-lightbox="gallery"): img(src="i/placeholders/axela/1.jpg")
                  a.item__image--small(href="i/placeholders/axela/3.jpg", data-lightbox="gallery"): img(src="i/placeholders/axela/3.jpg")
                  a.item__image--small(href="i/placeholders/axela/4.jpg", data-lightbox="gallery"): img(src="i/placeholders/axela/4.jpg")
                  a.item__image--small(href="i/placeholders/axela/5.jpg", data-lightbox="gallery"): img(src="i/placeholders/axela/5.jpg")
                  a.item__image--small(href="i/placeholders/axela/4.jpg", data-lightbox="gallery"): img(src="i/placeholders/axela/4.jpg")
                  a.item__image--small(href="i/placeholders/axela/5.jpg", data-lightbox="gallery"): img(src="i/placeholders/axela/5.jpg")
                .item__desc
                  .item__desc__well
                    strong Местонахождение:&nbsp;
                    | Владивосток<br>
                    strong Метод ввоза:&nbsp;
                    | полная пошлина<br>
                    a.btn(href="#") Оформить заявку
                  .item__desc__text
                    div
                      h2 Характеристики
                    .col
                      strong Фирма (марка):&nbsp;
                      | Toyota<br>
                      strong Модель:&nbsp;
                      | Camry<br>
                      strong Год выпуска:&nbsp;
                      | 2013 г.<br>
                      strong Объем двигателя:&nbsp;
                      | 3500 см3 (Бензиновый)<br>
                      strong Тип КПП:&nbsp;
                      | Автоматическая<br>
                    .col
                      strong Привод:&nbsp;
                      | Передний<br>
                      strong Пробег по России:&nbsp;
                      | нет<br>
                      strong Руль:&nbsp;
                      | Левый<br>
                      strong Наличие:&nbsp;
                      | под заказ<br>
                      strong Цена:&nbsp;
                      | 1370000 руб.<br>
              h2 Доп. информация:
              p Автомобиль проверен, находится на нашей стоянке в Японии. Готов к отправке в любой регион РФ. Срок доставки и таможенной чистки 2-3 недели.
              p Гарантируем чистоту и прозрачность сделки, полное соответствие аукционному листу и не скрученный пробег.
              p Предоплата 30000 рублей. Возможна продажа в кредит.В договоре фиксируется конечная стоимость автомобиля, включая таможенную пошлину и все расходы.
              p Подберем автомобиль в любом цвете и комплектации, в том числе под Ваш бюджет. Гарантируем чистоту и прозрачности сделки. 8 лет на рынке поставки техники.
              p Подготовим автомобиль к дальнейшей эксплуатации: заменим тех. жидкости, свечи, АКБ. Подробности у менеджеров компании. Работаем по схеме “Trade-In”. Вы можете реализовать свой автомобиль в счет заказа нового.





          section.news
            h1.colored.yellow Новости
            .news__items
              .news__item
                .news__item__date 4 июля 2014
                a.news__item__title(href="#") Chevrolet Corvette: тридцать лет и три года до встречи
                p.news__item__text На российском рынке стартуют продажи Honda Civic в четырехдверном кузове с увеличенным до 16,5 см клиренсом.
              .news__item
                .news__item__date 4 июля 2014
                a.news__item__title(href="#") Infiniti: концепт Emerg-E ждет своего часа
                p.news__item__text Рестайлинговая модель пришла в Россию в июне прошлого года. Ее отличают более агрессивная облицовка радиатора с хромовым обрамлением снизу и дизайн задних фонарей.
              .news__item
                .news__item__date 4 июля 2014
                a.news__item__title(href="#") Chevrolet Corvette: тридцать лет и три года до встречи
                p.news__item__text Civic оснащется 1,8-литровым 16-клапанным двигателем мощностью 141 л.с. и 6-ступенчатой механической или 5-ступенчатой.
              .news__item
                .news__item__date 4 июля 2014
                a.news__item__title(href="#") Chevrolet Corvette: тридцать лет и три года до встречи
                p.news__item__text Civic оснащется 1,8-литровым 16-клапанным двигателем мощностью 141 л.с. и 6-ступенчатой механической или 5-ступенчатой.
      include includes/footer
    include includes/tail
