header {
  height: 135px;
  background-color: #fff;
  @include cf();

  .header__logo {
    display: block;
    float: left;
    width: 220px; height: 68px;
    margin-top: 32px;
    margin-left: 26px;
    background-image: url(../i/logo.png);
    background-image: url(../i/logo.svg), none;
    background-size: auto;
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .header__phone {
    width: 200px; height: 40px;
    float: left;
    margin-top: 40px;
    margin-left: 490px;
    small {
      font-size: 13px;
      line-height: 1;
      margin-bottom: 4px;
      color: #000000;
    }
    h1 {
      font-size: 24px;
      font-weight: 600;
      line-height: 1;
      color: #000000;
    }
  }
}

.full-width {
  header {
    .header__logo {
      margin-left: 55px;
    }
  }
}
