/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/* line 15, ../scss/_settings.scss */
.container {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
/* line 195, ../scss/jeet/_grid.scss */
.container:before, .container:after {
  content: '';
  display: table;
}
/* line 199, ../scss/jeet/_grid.scss */
.container:after {
  clear: both;
}

/* line 1, ../scss/_else.scss */
h1.colored {
  display: inline-block;
  color: #FFF;
  text-transform: uppercase;
  line-height: 1;
  padding: 4px 5px;
  font-weight: 600;
  font-size: 24px;
}
/* line 10, ../scss/_else.scss */
h1.colored.black {
  background-color: #2C2C2C;
}
/* line 14, ../scss/_else.scss */
h1.colored.yellow {
  background-color: #F7BA00;
}

/* line 19, ../scss/_else.scss */
.content {
  min-height: 1097px;
  padding: 30px;
  padding-bottom: 0;
  margin-top: -140px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 43px rgba(128, 92, 47, 0.35);
  box-shadow: 0 0 43px rgba(128, 92, 47, 0.35);
}

/* line 28, ../scss/_else.scss */
.col-9-12 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 195, ../scss/jeet/_grid.scss */
.col-9-12:before, .col-9-12:after {
  content: '';
  display: table;
}
/* line 199, ../scss/jeet/_grid.scss */
.col-9-12:after {
  clear: both;
}
/* line 48, ../scss/jeet/_grid.scss */
.col-9-12:last-child {
  margin-right: 0%;
}

/* line 32, ../scss/_else.scss */
.col-3-12 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 195, ../scss/jeet/_grid.scss */
.col-3-12:before, .col-3-12:after {
  content: '';
  display: table;
}
/* line 199, ../scss/jeet/_grid.scss */
.col-3-12:after {
  clear: both;
}
/* line 48, ../scss/jeet/_grid.scss */
.col-3-12:last-child {
  margin-right: 0%;
}

/* line 36, ../scss/_else.scss */
.col-1-3 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 195, ../scss/jeet/_grid.scss */
.col-1-3:before, .col-1-3:after {
  content: '';
  display: table;
}
/* line 199, ../scss/jeet/_grid.scss */
.col-1-3:after {
  clear: both;
}
/* line 48, ../scss/jeet/_grid.scss */
.col-1-3:last-child {
  margin-right: 0%;
}

/* line 40, ../scss/_else.scss */
.banner {
  position: relative;
}
/* line 43, ../scss/_else.scss */
.banner img {
  width: 100%;
  height: auto;
}

/* line 49, ../scss/_else.scss */
.icons {
  *zoom: 1;
}
/* line 195, ../scss/jeet/_grid.scss */
.icons:before, .icons:after {
  content: '';
  display: table;
}
/* line 199, ../scss/jeet/_grid.scss */
.icons:after {
  clear: both;
}
/* line 51, ../scss/_else.scss */
.icons .icons__item {
  width: 140px;
  margin-right: 20px;
  float: left;
}
/* line 55, ../scss/_else.scss */
.icons .icons__item .icons__item__icon {
  width: 140px;
  height: 140px;
  background-color: #E6E6E6;
  font-size: 75px;
  text-align: center;
  line-height: 140px;
  color: #000;
  margin-bottom: 18px;
}
/* line 65, ../scss/_else.scss */
.icons .icons__item .icons__item__desc {
  color: #c70406;
  font-size: 16px;
  line-height: 1;
}

/* line 73, ../scss/_else.scss */
section.about {
  overflow: hidden;
  margin-bottom: 50px;
}

/* line 78, ../scss/_else.scss */
section.news {
  margin-left: -30px;
  width: 960px;
  padding: 30px;
  background-color: #F7F7F7;
  overflow: hidden;
}
/* line 84, ../scss/_else.scss */
section.news .news__items {
  overflow: hidden;
}
/* line 87, ../scss/_else.scss */
section.news .news__item {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 195, ../scss/jeet/_grid.scss */
section.news .news__item:before, section.news .news__item:after {
  content: '';
  display: table;
}
/* line 199, ../scss/jeet/_grid.scss */
section.news .news__item:after {
  clear: both;
}
/* line 48, ../scss/jeet/_grid.scss */
section.news .news__item:last-child {
  margin-right: 0%;
}
/* line 89, ../scss/_else.scss */
section.news .news__item .news__item__date {
  color: #656565;
  font-size: 12px;
  margin-bottom: 10px;
  display: inline-block;
  line-height: 1;
}
/* line 96, ../scss/_else.scss */
section.news .news__item .news__item__title {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 17px;
  display: inline-block;
  line-height: 1.2;
}
/* line 105, ../scss/_else.scss */
section.news .news__item .news__item__title:hover {
  text-decoration: none;
}
/* line 109, ../scss/_else.scss */
section.news .news__item .news__item__text {
  line-height: 1.2;
}

/* line 2, ../scss/_ui.scss */
.ui-helper-hidden {
  display: none;
}

/* line 5, ../scss/_ui.scss */
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 15, ../scss/_ui.scss */
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

/* line 25, ../scss/_ui.scss */
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}

/* line 31, ../scss/_ui.scss */
.ui-helper-clearfix:after {
  clear: both;
}

/* line 34, ../scss/_ui.scss */
.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */
}

/* line 37, ../scss/_ui.scss */
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

/* line 47, ../scss/_ui.scss */
.ui-front {
  z-index: 100;
}

/* Interaction Cues
----------------------------------*/
/* line 54, ../scss/_ui.scss */
.ui-state-disabled {
  cursor: default !important;
}

/* Icons
----------------------------------*/
/* states and images */
/* line 63, ../scss/_ui.scss */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/
/* Overlays */
/* line 75, ../scss/_ui.scss */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 82, ../scss/_ui.scss */
.ui-resizable {
  position: relative;
}

/* line 85, ../scss/_ui.scss */
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}

/* line 90, ../scss/_ui.scss */
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

/* line 94, ../scss/_ui.scss */
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}

/* line 101, ../scss/_ui.scss */
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

/* line 108, ../scss/_ui.scss */
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}

/* line 115, ../scss/_ui.scss */
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}

/* line 122, ../scss/_ui.scss */
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

/* line 129, ../scss/_ui.scss */
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

/* line 136, ../scss/_ui.scss */
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

/* line 143, ../scss/_ui.scss */
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

/* line 150, ../scss/_ui.scss */
.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted black;
}

/* line 155, ../scss/_ui.scss */
.ui-slider {
  position: relative;
  text-align: left;
}

/* line 159, ../scss/_ui.scss */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}

/* line 166, ../scss/_ui.scss */
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* For IE8 - See #6727 */
/* line 176, ../scss/_ui.scss */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  -webkit-filter: inherit;
  filter: inherit;
}

/* line 181, ../scss/_ui.scss */
.ui-slider-horizontal {
  height: .8em;
}

/* line 184, ../scss/_ui.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}

/* line 188, ../scss/_ui.scss */
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

/* line 192, ../scss/_ui.scss */
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

/* line 195, ../scss/_ui.scss */
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* line 199, ../scss/_ui.scss */
.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

/* line 203, ../scss/_ui.scss */
.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

/* line 208, ../scss/_ui.scss */
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

/* line 212, ../scss/_ui.scss */
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

/* line 215, ../scss/_ui.scss */
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

/* Component containers
----------------------------------*/
/* line 221, ../scss/_ui.scss */
.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
}

/* line 225, ../scss/_ui.scss */
.ui-widget .ui-widget {
  font-size: 1em;
}

/* line 228, ../scss/_ui.scss */
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1em;
}

/* line 235, ../scss/_ui.scss */
.ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #ffffff;
  color: #222222;
}

/* line 240, ../scss/_ui.scss */
.ui-widget-content a {
  color: #222222;
}

/* line 243, ../scss/_ui.scss */
.ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #cccccc;
  color: #222222;
  font-weight: bold;
}

/* line 249, ../scss/_ui.scss */
.ui-widget-header a {
  color: #222222;
}

/* line 2, ../scss/_forms.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea, .select {
  -webkit-appearance: none;
  display: block;
  margin-bottom: 18px;
  width: 300px;
  height: 41px;
  padding: 13px 16px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #f7f7f7;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7f7f7));
  background-image: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
  color: #807a7a;
  font-size: 14px;
}
/* line 3, ../scss/_utils.scss */
input[type="text"] ::-webkit-input-placeholder,
input[type="password"] ::-webkit-input-placeholder,
input[type="date"] ::-webkit-input-placeholder,
input[type="datetime"] ::-webkit-input-placeholder,
input[type="datetime-local"] ::-webkit-input-placeholder,
input[type="month"] ::-webkit-input-placeholder,
input[type="week"] ::-webkit-input-placeholder,
input[type="email"] ::-webkit-input-placeholder,
input[type="number"] ::-webkit-input-placeholder,
input[type="search"] ::-webkit-input-placeholder,
input[type="tel"] ::-webkit-input-placeholder,
input[type="time"] ::-webkit-input-placeholder,
input[type="url"] ::-webkit-input-placeholder,
textarea ::-webkit-input-placeholder, .select ::-webkit-input-placeholder {
  color: #807a7a;
  font-size: 14px;
}
/* line 4, ../scss/_utils.scss */
input[type="text"] :-moz-placeholder,
input[type="password"] :-moz-placeholder,
input[type="date"] :-moz-placeholder,
input[type="datetime"] :-moz-placeholder,
input[type="datetime-local"] :-moz-placeholder,
input[type="month"] :-moz-placeholder,
input[type="week"] :-moz-placeholder,
input[type="email"] :-moz-placeholder,
input[type="number"] :-moz-placeholder,
input[type="search"] :-moz-placeholder,
input[type="tel"] :-moz-placeholder,
input[type="time"] :-moz-placeholder,
input[type="url"] :-moz-placeholder,
textarea :-moz-placeholder, .select :-moz-placeholder {
  color: #807a7a;
  font-size: 14px;
}
/* line 5, ../scss/_utils.scss */
input[type="text"] ::-moz-placeholder,
input[type="password"] ::-moz-placeholder,
input[type="date"] ::-moz-placeholder,
input[type="datetime"] ::-moz-placeholder,
input[type="datetime-local"] ::-moz-placeholder,
input[type="month"] ::-moz-placeholder,
input[type="week"] ::-moz-placeholder,
input[type="email"] ::-moz-placeholder,
input[type="number"] ::-moz-placeholder,
input[type="search"] ::-moz-placeholder,
input[type="tel"] ::-moz-placeholder,
input[type="time"] ::-moz-placeholder,
input[type="url"] ::-moz-placeholder,
textarea ::-moz-placeholder, .select ::-moz-placeholder {
  color: #807a7a;
  font-size: 14px;
}
/* line 6, ../scss/_utils.scss */
input[type="text"] :-ms-input-placeholder,
input[type="password"] :-ms-input-placeholder,
input[type="date"] :-ms-input-placeholder,
input[type="datetime"] :-ms-input-placeholder,
input[type="datetime-local"] :-ms-input-placeholder,
input[type="month"] :-ms-input-placeholder,
input[type="week"] :-ms-input-placeholder,
input[type="email"] :-ms-input-placeholder,
input[type="number"] :-ms-input-placeholder,
input[type="search"] :-ms-input-placeholder,
input[type="tel"] :-ms-input-placeholder,
input[type="time"] :-ms-input-placeholder,
input[type="url"] :-ms-input-placeholder,
textarea :-ms-input-placeholder, .select :-ms-input-placeholder {
  color: #807a7a;
  font-size: 14px;
}

/* line 41, ../scss/_forms.scss */
textarea {
  height: 100px;
}

/* line 45, ../scss/_forms.scss */
.btn, a.btn, input[type=submit] {
  display: inline-block;
  border-style: solid;
  border: none;
  text-decoration: none;
  position: relative;
  clear: both;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 0 1px 0 #025851;
  padding: 12px 20px;
  border: 1px solid #15685c;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #85dbd7;
  box-shadow: inset 0 1px 0 #85dbd7;
  background-color: #1b7b6d;
  background-image: -webkit-linear-gradient(top, #1b7b6d 0%, #3f9995 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1b7b6d), to(#3f9995));
  background-image: linear-gradient(to bottom, #1b7b6d 0%, #3f9995 100%);
  margin-bottom: 18px;
}
/* line 75, ../scss/_forms.scss */
.btn:hover, a.btn:hover, input[type=submit]:hover {
  background-color: #1b7b6d;
  background-image: -webkit-linear-gradient(top, #3f9995 0%, #1b7b6d 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3f9995), to(#1b7b6d));
  background-image: linear-gradient(to bottom, #3f9995 0%, #1b7b6d 100%);
}
/* line 78, ../scss/_forms.scss */
.btn:hover:active, a.btn:hover:active, input[type=submit]:hover:active {
  -webkit-box-shadow: inset 0 -1px 0 #85dbd7;
  box-shadow: inset 0 -1px 0 #85dbd7;
  top: 3px;
}
/* line 84, ../scss/_forms.scss */
.btn.btn, a.btn.btn, input[type=submit].btn {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 41px;
}

/* line 39, ../scss/_lightbox.scss */
body:after {
  content: url(../i/prev.png) url(../i/next.png);
  display: none;
}

/* line 44, ../scss/_lightbox.scss */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 54, ../scss/_lightbox.scss */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
/* line 62, ../scss/_lightbox.scss */
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  border-radius: 3px;
}
/* line 68, ../scss/_lightbox.scss */
.lightbox a img {
  border: none;
}

/* line 73, ../scss/_lightbox.scss */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 83, ../scss/_lightbox.scss */
.lb-container {
  padding: 4px;
}

/* line 87, ../scss/_lightbox.scss */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 97, ../scss/_lightbox.scss */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  font-size: 32px;
  color: #000;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  text-shadow: rgba(255, 255, 255, 0.5) 0 0 30px;
}
/* line 117, ../scss/_lightbox.scss */
.lb-cancel:before {
  content: "\f021";
}

/* line 122, ../scss/_lightbox.scss */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 131, ../scss/_lightbox.scss */
.lb-container > .nav {
  left: 0;
}

/* line 135, ../scss/_lightbox.scss */
.lb-nav a {
  outline: none;
}

/* line 139, ../scss/_lightbox.scss */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

/* line 147, ../scss/_lightbox.scss */
.lb-prev {
  left: 0;
  float: left;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
/* line 152, ../scss/_lightbox.scss */
.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background: url(../i/prev.png) left 48% no-repeat;
}

/* line 158, ../scss/_lightbox.scss */
.lb-next {
  right: 0;
  float: right;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
/* line 163, ../scss/_lightbox.scss */
.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background: url(../i/next.png) right 48% no-repeat;
}

/* line 169, ../scss/_lightbox.scss */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 177, ../scss/_lightbox.scss */
.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
  position: relative;
}
/* line 181, ../scss/_lightbox.scss */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 187, ../scss/_lightbox.scss */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 192, ../scss/_lightbox.scss */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
/* line 199, ../scss/_lightbox.scss */
.lb-data .lb-close {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 30px;
  position: absolute;
  bottom: -30px;
  right: 0;
  color: #fff;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  visibility: hidden;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
/* line 215, ../scss/_lightbox.scss */
.lb-data .lb-close:before {
  content: "\f00d";
  visibility: visible;
}
/* line 221, ../scss/_lightbox.scss */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 1, ../scss/_carousel.scss */
.carousel {
  min-height: 300px;
  position: relative;
}
/* line 5, ../scss/_carousel.scss */
.carousel .carousel__container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
/* line 12, ../scss/_carousel.scss */
.carousel ul {
  width: 9999px;
  list-style: none;
  list-style-type: none;
  padding-left: 0 !important;
  position: relative;
}
/* line 19, ../scss/_carousel.scss */
.carousel ul li.carousel__item {
  width: 225px;
  padding: 0;
  list-style: none;
  list-style-type: none;
  float: left;
  padding: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
/* line 30, ../scss/_carousel.scss */
.carousel ul li.carousel__item:before {
  font-family: 'juno';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e605";
  font-size: 60px;
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  top: -50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -30px;
  color: #2C2C2C;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 55, ../scss/_carousel.scss */
.carousel ul li.carousel__item:hover .carousel__item__pic, .carousel ul li.carousel__item:hover .carousel__item__desc {
  opacity: 0.7;
}
/* line 58, ../scss/_carousel.scss */
.carousel ul li.carousel__item:hover:before {
  top: 30%;
}
/* line 63, ../scss/_carousel.scss */
.carousel ul li.carousel__item .carousel__item__pic {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 205px;
  height: 160px;
  overflow: hidden;
  background-color: #f9f9f9;
}
/* line 70, ../scss/_carousel.scss */
.carousel ul li.carousel__item .carousel__item__pic img {
  height: 160px;
  width: auto;
}
/* line 79, ../scss/_carousel.scss */
.carousel ul li.carousel__item .carousel__item__desc {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #F9F9F9;
  text-align: left;
  width: 205px;
  float: left;
  padding: 25px 0 20px 60px;
  position: relative;
}
/* line 88, ../scss/_carousel.scss */
.carousel ul li.carousel__item .carousel__item__desc:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 16px;
  top: -16px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 16.5px 16px 16.5px;
  border-color: transparent transparent #f9f9f9 transparent;
}
/* line 100, ../scss/_carousel.scss */
.carousel ul li.carousel__item .carousel__item__desc .carousel__item__price {
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #C70305;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
/* line 111, ../scss/_carousel.scss */
.carousel ul li.carousel__item .carousel__item__desc .carousel__item__price span {
  display: block;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
  line-height: 1;
  color: #fff;
}
/* line 121, ../scss/_carousel.scss */
.carousel ul li.carousel__item .carousel__item__desc .carousel__item__price small {
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  display: block;
  line-height: 1;
  color: #fff;
}
/* line 131, ../scss/_carousel.scss */
.carousel ul li.carousel__item .carousel__item__desc h2 {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-bottom: 0;
  line-height: 1;
}
/* line 139, ../scss/_carousel.scss */
.carousel ul li.carousel__item .carousel__item__desc span {
  color: #656565;
  font-size: 11px;
}
/* line 152, ../scss/_carousel.scss */
.carousel a.carousel__nav {
  width: 12px;
  height: 17px;
  position: absolute;
  margin-top: -150px;
  z-index: 1;
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 167, ../scss/_carousel.scss */
.carousel a.carousel__nav:hover {
  opacity: 1;
}
/* line 171, ../scss/_carousel.scss */
.carousel a.carousel__nav.carousel__nav--prev {
  left: -15px;
}
/* line 175, ../scss/_carousel.scss */
.carousel a.carousel__nav.carousel__nav--next {
  right: -15px;
}

/* line 3, ../scss/_top-bar.scss */
.top-bar {
  height: 47px;
  background-color: #333;
}
/* line 7, ../scss/_top-bar.scss */
.top-bar nav {
  margin-left: 5px;
}
/* line 10, ../scss/_top-bar.scss */
.top-bar nav ul li {
  float: left;
}
/* line 13, ../scss/_top-bar.scss */
.top-bar nav ul li.active a, .top-bar nav ul li a:hover {
  background-color: #404040;
}
/* line 21, ../scss/_top-bar.scss */
.top-bar nav ul li.top-bar__social {
  color: #999;
  font-size: 13px;
  text-decoration: none;
  line-height: 47px;
  border-left: 1px solid #4A504E;
  border-right: none;
  padding: 0 0 0 51px;
}
/* line 30, ../scss/_top-bar.scss */
.top-bar nav ul li.top-bar__social span {
  display: block;
  float: left;
  margin-right: 10px;
}
/* line 36, ../scss/_top-bar.scss */
.top-bar nav ul li.top-bar__social a {
  padding: 0;
  border: none;
  display: inline-block;
  float: left;
  width: 19px;
  height: 19px;
  background-color: #fff;
  border-radius: 3px;
  padding: 0;
  margin: 14px 5px;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  color: #FFF;
}
/* line 51, ../scss/_top-bar.scss */
.top-bar nav ul li.top-bar__social a:before {
  display: none;
}
/* line 55, ../scss/_top-bar.scss */
.top-bar nav ul li.top-bar__social a:hover {
  opacity: .8;
}
/* line 59, ../scss/_top-bar.scss */
.top-bar nav ul li.top-bar__social a.vk {
  background-color: #4d6d91;
  background-image: -webkit-linear-gradient(top, #4d6d91 0%, #597b9f 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4d6d91), to(#597b9f));
  background-image: linear-gradient(to bottom, #4d6d91 0%, #597b9f 100%);
  text-shadow: 0 1px 0 #25436e;
}
/* line 64, ../scss/_top-bar.scss */
.top-bar nav ul li.top-bar__social a.fb {
  background-color: #4d69a2;
  background-image: -webkit-linear-gradient(top, #4d69a2 0%, #3a4b7b 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4d69a2), to(#3a4b7b));
  background-image: linear-gradient(to bottom, #4d69a2 0%, #3a4b7b 100%);
  text-shadow: 0 1px 0 #213255;
}
/* line 69, ../scss/_top-bar.scss */
.top-bar nav ul li.top-bar__social a.tw {
  background-color: #54abed;
  background-image: -webkit-linear-gradient(top, #54abed 0%, #3b88c3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#54abed), to(#3b88c3));
  background-image: linear-gradient(to bottom, #54abed 0%, #3b88c3 100%);
  text-shadow: 0 1px 0 #2f6d9c;
}
/* line 77, ../scss/_top-bar.scss */
.top-bar nav ul li a {
  color: #999;
  font-size: 13px;
  text-decoration: none;
  display: block;
  height: 47px;
  line-height: 47px;
  padding: 0 20px;
  border-left: 1px solid #4A504E;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 88, ../scss/_top-bar.scss */
.top-bar nav ul li a:before {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: -2px;
  width: 5px;
  height: 5px;
  background-color: #f7b900;
  content: ' ';
}

/* line 1, ../scss/_header.scss */
header {
  height: 135px;
  background-color: #fff;
  *zoom: 1;
}
/* line 195, ../scss/jeet/_grid.scss */
header:before, header:after {
  content: '';
  display: table;
}
/* line 199, ../scss/jeet/_grid.scss */
header:after {
  clear: both;
}
/* line 6, ../scss/_header.scss */
header .header__logo {
  display: block;
  float: left;
  width: 220px;
  height: 68px;
  margin-top: 32px;
  margin-left: 26px;
  background-image: url(../i/logo.png);
  background-image: url(../i/logo.svg), none;
  -webkit-background-size: auto auto;
  background-size: auto;
  background-position: 0 0;
  background-repeat: no-repeat;
}
/* line 19, ../scss/_header.scss */
header .header__phone {
  width: 200px;
  height: 40px;
  float: right;
  margin-top: 40px;
  margin-right: 24px;
}
/* line 24, ../scss/_header.scss */
header .header__phone small {
  font-size: 13px;
  line-height: 1;
  margin-bottom: 4px;
}
/* line 29, ../scss/_header.scss */
header .header__phone h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
}
@-webkit-keyframes spinner {
  /* line 2, ../scss/_slider.scss */
  0% {
    stroke-dashoffset: 50;
  }

  /* line 5, ../scss/_slider.scss */
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes spinner {
  /* line 2, ../scss/_slider.scss */
  0% {
    stroke-dashoffset: 50;
  }

  /* line 5, ../scss/_slider.scss */
  100% {
    stroke-dashoffset: 0;
  }
}
/* line 10, ../scss/_slider.scss */
#slider-hero {
  height: 615px;
  margin-top: -85px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
/* line 17, ../scss/_slider.scss */
#slider-hero #slider__dots__content {
  display: none;
  visibility: hidden;
}
/* line 22, ../scss/_slider.scss */
#slider-hero ul.slider__dots {
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 160px;
  text-align: center;
}
/* line 28, ../scss/_slider.scss */
#slider-hero ul.slider__dots li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 18px;
  text-align: center;
}
/* line 34, ../scss/_slider.scss */
#slider-hero ul.slider__dots li:last-child {
  margin-right: 0;
}
/* line 38, ../scss/_slider.scss */
#slider-hero ul.slider__dots li .slider__spinner {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 100px;
  border: 3px solid #5B5958;
}
/* line 46, ../scss/_slider.scss */
#slider-hero ul.slider__dots li .slider__spinner.active svg .bar {
  -webkit-animation: spinner 4000ms linear infinite alternate;
  animation: spinner 4000ms linear infinite alternate;
}
/* line 56, ../scss/_slider.scss */
#slider-hero ul.slider__dots li .slider__spinner svg {
  position: relative;
  top: -3px;
  left: -3px;
}
/* line 61, ../scss/_slider.scss */
#slider-hero ul.slider__dots li .slider__spinner svg .bar {
  stroke-dashoffset: 50;
  stroke-width: 3px;
  stroke: #E6E6E6;
}
/* line 72, ../scss/_slider.scss */
#slider-hero .container {
  position: relative;
}
/* line 76, ../scss/_slider.scss */
#slider-hero .slider__slides {
  position: relative;
}
/* line 80, ../scss/_slider.scss */
#slider-hero .slider__slides ul {
  position: relative;
}
/* line 84, ../scss/_slider.scss */
#slider-hero .slider__slides ul li.slider__item {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  width: 100%;
  height: 615px;
  display: none;
}
/* line 94, ../scss/_slider.scss */
#slider-hero .slider__slides ul li.slider__item .container {
  z-index: 2;
}
/* line 98, ../scss/_slider.scss */
#slider-hero .slider__slides ul li.slider__item img {
  width: 100%;
  position: absolute;
}
/* line 110, ../scss/_slider.scss */
#slider-hero .slider__slides ul li.slider__item .slider__content {
  margin-top: 160px;
  color: #fff;
}
/* line 114, ../scss/_slider.scss */
#slider-hero .slider__slides ul li.slider__item .slider__content .slider__content__left {
  *zoom: 1;
  float: left;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 83.33333%;
  margin-left: 0%;
  margin-right: 0%;
  width: 770px;
  margin-right: 10px;
  padding: 46px 32px;
}
/* line 195, ../scss/jeet/_grid.scss */
#slider-hero .slider__slides ul li.slider__item .slider__content .slider__content__left:before, #slider-hero .slider__slides ul li.slider__item .slider__content .slider__content__left:after {
  content: '';
  display: table;
}
/* line 199, ../scss/jeet/_grid.scss */
#slider-hero .slider__slides ul li.slider__item .slider__content .slider__content__left:after {
  clear: both;
}
/* line 121, ../scss/_slider.scss */
#slider-hero .slider__slides ul li.slider__item .slider__content .slider__content__right {
  *zoom: 1;
  float: left;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 16.66667%;
  margin-left: 0%;
  margin-right: 0%;
  width: 180px;
  padding: 65px 45px 47px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
/* line 195, ../scss/jeet/_grid.scss */
#slider-hero .slider__slides ul li.slider__item .slider__content .slider__content__right:before, #slider-hero .slider__slides ul li.slider__item .slider__content .slider__content__right:after {
  content: '';
  display: table;
}
/* line 199, ../scss/jeet/_grid.scss */
#slider-hero .slider__slides ul li.slider__item .slider__content .slider__content__right:after {
  clear: both;
}
/* line 127, ../scss/_slider.scss */
#slider-hero .slider__slides ul li.slider__item .slider__content .slider__content__right:hover {
  background-color: #8e8e8e;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 132, ../scss/_slider.scss */
#slider-hero .slider__slides ul li.slider__item .slider__content .slider__content__right .icon-search {
  display: block;
  text-align: center;
  font-size: 60px;
  margin-bottom: 40px;
}
/* line 139, ../scss/_slider.scss */
#slider-hero .slider__slides ul li.slider__item .slider__content .slider__content__right span {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
}
/* line 148, ../scss/_slider.scss */
#slider-hero .slider__slides ul li.slider__item .slider__content .slider__content__left, #slider-hero .slider__slides ul li.slider__item .slider__content .slider__content__right {
  background-color: #9B9B9B;
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 220px;
}
/* line 154, ../scss/_slider.scss */
#slider-hero .slider__slides ul li.slider__item .slider__content h1 {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 1;
}
/* line 163, ../scss/_slider.scss */
#slider-hero .slider__slides ul li.slider__item .slider__content p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}
/* line 171, ../scss/_slider.scss */
#slider-hero .slider__slides ul li.slider__item .slider__content a {
  color: #fff;
  text-decoration: none;
}
/* line 174, ../scss/_slider.scss */
#slider-hero .slider__slides ul li.slider__item .slider__content a:hover {
  text-decoration: none;
}
/* line 181, ../scss/_slider.scss */
#slider-hero .slider__slides ul li.slider__item.active {
  display: block;
}
/* line 191, ../scss/_slider.scss */
#slider-hero a.slider__nav {
  position: absolute;
  margin-top: 235px;
  z-index: 1;
  display: block;
  width: 55px;
  height: 55px;
  color: #FFF;
  text-decoration: none;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  cursor: pointer;
  background-color: #666666;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
/* line 210, ../scss/_slider.scss */
#slider-hero a.slider__nav .fa {
  position: relative;
  top: -2px;
}
/* line 215, ../scss/_slider.scss */
#slider-hero a.slider__nav:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
/* line 220, ../scss/_slider.scss */
#slider-hero a.slider__nav:active {
  top: 1px;
}
/* line 224, ../scss/_slider.scss */
#slider-hero a.slider__nav.slider__nav--prev {
  left: 0px;
  text-indent: -1px;
}
/* line 229, ../scss/_slider.scss */
#slider-hero a.slider__nav.slider__nav--next {
  right: 0px;
  text-indent: 1px;
}

/* line 1, ../scss/_navigation.scss */
.navigation {
  height: 85px;
  background-color: #c70305;
  -webkit-box-shadow: 0 12px 0 #f7b900;
  box-shadow: 0 12px 0 #f7b900;
  color: #FFF;
  position: relative;
  z-index: 4;
}
/* line 12, ../scss/_navigation.scss */
.navigation ul li {
  float: left;
}
/* line 14, ../scss/_navigation.scss */
.navigation ul li a {
  color: #FFF;
  text-decoration: none;
  height: 85px;
  line-height: 1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding-left: 80px;
  padding-right: 20px;
  padding-top: 37px;
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 29, ../scss/_navigation.scss */
.navigation ul li a:hover {
  background-color: #b80305;
}
/* line 35, ../scss/_navigation.scss */
.navigation ul li a i {
  font-size: 40px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  display: block;
  left: 20px;
  top: 20px;
  text-shadow: 0px 0px 0 #ab0204,1px 1px 0 #ab0204,2px 2px 0 #ab0204,3px 3px 0 #ab0204,4px 4px 0 #ab0204,5px 5px 0 #ab0204,6px 6px 0 #ab0204,7px 7px 0 #ab0204,8px 8px 0 #ab0204,9px 9px 0 #ab0204,10px 10px 0 #ab0204,11px 11px 0 #ab0204,12px 12px 0 #ab0204,13px 13px 0 #ab0204,14px 14px 0 #ab0204,15px 15px 0 #ab0204,16px 16px 0 #ab0204,17px 17px 0 #ab0204,18px 18px 0 #ab0204,19px 19px 0 #ab0204,20px 20px 0 #ab0204,21px 21px 0 #ab0204,22px 22px 0 #ab0204,23px 23px 0 #ab0204,24px 24px 0 #ab0204,25px 25px 0 #ab0204,26px 26px 0 #ab0204,27px 27px 0 #ab0204,28px 28px 0 #ab0204,29px 29px 0 #ab0204,30px 30px 0 #ab0204,31px 31px 0 #ab0204,32px 32px 0 #ab0204,33px 33px 0 #ab0204,34px 34px 0 #ab0204,35px 35px 0 #ab0204,36px 36px 0 #ab0204,37px 37px 0 #ab0204,38px 38px 0 #ab0204,39px 39px 0 #ab0204,40px 40px 0 #ab0204,41px 41px 0 #ab0204,42px 42px 0 #ab0204,43px 43px 0 #ab0204,44px 44px 0 #ab0204,45px 45px 0 #ab0204,46px 46px 0 #ab0204,47px 47px 0 #ab0204,48px 48px 0 #ab0204,50px 50px 0 transparent;
}

/* line 1, ../scss/_footer.scss */
footer {
  padding: 60px 0 20px;
}
/* line 3, ../scss/_footer.scss */
footer .container {
  padding: 30px;
  line-height: 1;
  font-size: 14px;
}
/* line 9, ../scss/_footer.scss */
footer h1, footer p {
  margin-bottom: 2px;
}

/* line 32, ../scss/app.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 38, ../scss/app.scss */
body {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  background: white;
  line-height: 150%;
  font-size: 16px;
  font-size: 16px;
  min-width: 1100px;
}

/* line 47, ../scss/app.scss */
a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-device-width: 480px) {
  /* line 53, ../scss/app.scss */
  body {
    -webkit-text-size-adjust: none;
  }
}
/* line 58, ../scss/app.scss */
#page-wrap {
  overflow: hidden;
}

/* line 62, ../scss/app.scss */
h1, h2, h3, h4, h5, p {
  color: #000;
  margin-bottom: 18px;
}

/* line 67, ../scss/app.scss */
h1, h2, h3, h4, h5 {
  font-weight: bold;
}

/* line 71, ../scss/app.scss */
h1 {
  font-size: 24px;
}

/* line 75, ../scss/app.scss */
h2 {
  font-size: 20px;
}

/* line 79, ../scss/app.scss */
h3 {
  font-size: 16px;
}

/* line 83, ../scss/app.scss */
p {
  line-height: 150%;
}

/* line 87, ../scss/app.scss */
strong {
  font-weight: 600;
}

/* line 91, ../scss/app.scss */
.right {
  float: right !important;
}

/* line 95, ../scss/app.scss */
.left {
  float: left !important;
}

/* line 99, ../scss/app.scss */
a, input, textarea, .btn {
  outline: none;
}

/* line 103, ../scss/app.scss */
a {
  color: #000;
}
/* line 105, ../scss/app.scss */
a:hover {
  color: #333333;
}

/* line 110, ../scss/app.scss */
.lbox {
  display: block;
  border: 9px solid #fff;
  -webkit-box-shadow: 1px 1px 0 0 #96c4ea;
  box-shadow: 1px 1px 0 0 #96c4ea;
}
/* line 115, ../scss/app.scss */
.lbox:hover {
  opacity: 0.9;
}

/* line 120, ../scss/app.scss */
.container {
  position: relative;
  z-index: 1;
}
