.carousel
  .carousel__container
    ul
      li.carousel__item
        a(href="#")
          .carousel__item__pic
            img(src="i/placeholders/placeholder-1.jpg")
          .carousel__item__desc
            .carousel__item__price
              span 1640
              small тыс. руб.
            h2 Nissan Fuga
            span 2001г. | 3000см3
      li.carousel__item
        a(href="#")
          .carousel__item__pic
            img(src="i/placeholders/placeholder-2.jpg")
          .carousel__item__desc
            .carousel__item__price
              span 940
              small тыс. руб.
            h2 Honda Accord
            span 2001г. | 3000см3
      li.carousel__item
        a(href="#")
          .carousel__item__pic
            img(src="i/placeholders/placeholder-3.jpg")
          .carousel__item__desc
            .carousel__item__price
              span 980
              small тыс. руб.
            h2 Lexus RX 350
            span 2001г. | 3000см3
      li.carousel__item
        a(href="#")
          .carousel__item__pic
            img(src="i/placeholders/placeholder-4.jpg")
          .carousel__item__desc
            .carousel__item__price
              span 540
              small тыс. руб.
            h2 Toyota Premio
            span 2001г. | 3000см3
      li.carousel__item
        a(href="#")
          .carousel__item__pic
            img(src="i/placeholders/placeholder-1.jpg")
          .carousel__item__desc
            .carousel__item__price
              span 1640
              small тыс. руб.
            h2 Nissan Fuga
            span 2001г. | 3000см3
      li.carousel__item
        a(href="#")
          .carousel__item__pic
            img(src="i/placeholders/placeholder-2.jpg")
          .carousel__item__desc
            .carousel__item__price
              span 940
              small тыс. руб.
            h2 Honda Accord
            span 2001г. | 3000см3
      li.carousel__item
        a(href="#")
          .carousel__item__pic
            img(src="i/placeholders/placeholder-3.jpg")
          .carousel__item__desc
            .carousel__item__price
              span 980
              small тыс. руб.
            h2 Lexus RX 350
            span 2001г. | 3000см3
      li.carousel__item
        a(href="#")
          .carousel__item__pic
            img(src="i/placeholders/placeholder-4.jpg")
          .carousel__item__desc
            .carousel__item__price
              span 540
              small тыс. руб.
            h2 Toyota Premio
            span 2001г. | 3000см3
  a.carousel__nav.carousel__nav--prev(href='#')
    i.fa.fa-chevron-left
  a.carousel__nav.carousel__nav--next(href='#')
    i.fa.fa-chevron-right
