footer
  .container
    .col-1-3
      p &copy; 2006 - 2013 ju-motors CO, LTD.
    .col-1-3
      h1 8 (423) 269-61-99
      p г. Владивосток, ул. Капитана Шефнера 2А<br>
      a(href="mailto:info@ju-motors.ru") info@ju-motors.ru
    .col-1-3 Для получения подробной информации о стоимости услуг обращайтесь к менеджерам компании
