.container
  nav.navigation
    ul
      li: a(href="#", style="padding-top: 30px;")
        i.icon-car
        |Автомобили<br>со всего мира
      li: a(href="#")
        i.icon-truck
        |Грузовики
      li: a(href="#")
        i.icon-forklift
        |Спецтехника
      li: a(href="#", style="padding-top: 30px;")
        i.icon-auctions
        |Аукционы<br>Yahoo и eBay
      li: a(href="#")
        i.icon-moto
        |Мототехника
