.container
  nav.navigation
    ul
      li: a(href="#", style="padding-top: 30px;")
        i.icon-car
        |Автомобили<br>со всего мира
      li
        a(href="#")
          i.icon-truck
          |Грузовики
        ul.dropdown
          li: a(href="#") Аукционы OnePrice
          li: a(href="#") Спецпредложения
          li: a(href="#") Статистика японских аукционов
          li: a(href="#") Калькулятор (полная пошлина)
          li: a(href="#") Аварийные авто
          li: a(href="#") Инструкция по аукционам
          li: a(href="#") Цены на оформление ПТС
          li: a(href="#") Схема работы "Полная пошлина"
          li: a(href="#") Схема работы "Конструктор"
          li: a(href="#") Определение даты выпуска
          li: a(href="#") Каталог авто
          li: a(href="#") Аукционы Японии ON-LINE!
      li: a(href="#")
        i.icon-forklift
        |Спецтехника
      li
        a(href="#", style="padding-top: 30px;")
          i.icon-auctions
          |Аукционы<br>Yahoo и eBay
        ul.dropdown
          li: a(href="#") Аукционы OnePrice
          li: a(href="#") Спецпредложения
          li: a(href="#") Статистика японских аукционов
          li: a(href="#") Калькулятор (полная пошлина)
          li: a(href="#") Аварийные авто
          li: a(href="#") Инструкция по аукционам
          li: a(href="#") Цены на оформление ПТС
          li: a(href="#") Схема работы "Полная пошлина"
          li: a(href="#") Схема работы "Конструктор"
          li: a(href="#") Определение даты выпуска
          li: a(href="#") Каталог авто
          li: a(href="#") Аукционы Японии ON-LINE!
      li: a(href="#")
        i.icon-moto
        |Мототехника
