#slider-hero
  .slider__slides
    ul.slider__container
      li.slider__item.active
        img(src="i/slider/1.jpg")
        .container
          .slider__content
            .slider__content__left
              h1 Автомобили<br>из США
              p Опыт работы наших менеджеров в США позволяет предоставить развернутую информацию по состоянию техники, а также подобрать вариант по вашим параметрам.
            a.slider__content__right(href="#")
              i.icon-search
              span Подобрать авто
      li.slider__item
        img(src="i/slider/2.jpg")
        .container
          .slider__content
            .slider__content__left
              h1 Автомобили<br>из США
              p Опыт работы наших менеджеров в США позволяет предоставить развернутую информацию по состоянию техники, а также подобрать вариант по вашим параметрам.
            a.slider__content__right(href="#")
              i.icon-search
              span Подобрать авто
      li.slider__item
        img(src="i/slider/3.jpg")
        .container
          .slider__content
            .slider__content__left
              h1 Автомобили<br>из США
              p Опыт работы наших менеджеров в США позволяет предоставить развернутую информацию по состоянию техники, а также подобрать вариант по вашим параметрам.
            a.slider__content__right(href="#")
              i.icon-search
              span Подобрать авто
      li.slider__item
        img(src="i/slider/4.jpg")
        .container
          .slider__content
            .slider__content__left
              h1 Автомобили<br>из США
              p Опыт работы наших менеджеров в США позволяет предоставить развернутую информацию по состоянию техники, а также подобрать вариант по вашим параметрам.
            a.slider__content__right(href="#")
              i.icon-search
              span Подобрать авто
      li.slider__item
        img(src="i/slider/5.jpg")
        .container
          .slider__content
            .slider__content__left
              h1 Автомобили<br>из США
              p Опыт работы наших менеджеров в США позволяет предоставить развернутую информацию по состоянию техники, а также подобрать вариант по вашим параметрам.
            a.slider__content__right(href="#")
              i.icon-search
              span Подобрать авто

  ul.slider__dots
  #slider__dots__content
    .slider__spinner
      svg(width="20", height="20")
        circle.bar(r="8", cx="10", cy="10", fill="transparent", stroke-dasharray="50", stroke-dashoffset="0")

  a.slider__nav.slider__nav--next(href='#')
    i.fa.fa-angle-right
  a.slider__nav.slider__nav--prev(href='#')
    i.fa.fa-angle-left
