.top-bar
  .container
    nav
      ul
        li: a(href="#") Вопросы и ответы
        li: a(href="#") Новости
        li: a(href="#") Фотоотчёты
        li: a(href="#") О компании
        li: a(href="#") Дилерам
        li: a(href="#") Контакты
        li.top-bar__social
          span Мы в соц. сетях:
          a.top-bar__social__item.vk(href="#")
            i.fa.fa-fw.fa-vk
          a.top-bar__social__item.fb(href="#")
            i.fa.fa-fw.fa-facebook
          a.top-bar__social__item.tw(href="#")
            i.fa.fa-fw.fa-twitter
